
<!-- video: the revature business model -->
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" 
                src="https://www.youtube.com/embed/TXIGiiYsB74?rel=0&amp;showinfo=0" 
                frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- DIVIDER -->
<div class="row my-3">
    <hr class="w-100" />
</div>

<!-- video: why revature? -->
<div class="row mb-2">
    <h3 class="revature-orange">Why Revature?</h3>
    <hr class="w-100 revature" />
</div>

<div class="row">
    <div class="col-md-4">
        <span class="embed-responsive embed-responsive-16by9 mr-5">
            <iframe class="embed-responsive-item" width="560" height="315"
                src="https://www.youtube.com/embed/O0iCJjxAQwI?rel=0&amp;showinfo=0"
                frameborder="0" allowfullscreen>
            </iframe>
        </span>
    </div>
    <div class="col-md-8 text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla felis vitae augue 
        tincidunt, sed dignissim ex tincidunt. Praesent eget euismod metus. Sed convallis lacus non tempor 
        vulputate. Donec risus eros, cursus vitae augue non, commodo tincidunt sapien. Suspendisse sit 
        amet ex et dolor imperdiet pellentesque id eu urna. Vestibulum rhoncus interdum turpis ac rhoncus. 
        Phasellus maximus massa sed tellus cursus, lacinia convallis dui lobortis. Nam at metus consectetur, 
        viverra ipsum eu, tincidunt elit. Sed interdum nunc in orci vestibulum viverra. Nullam ut fermentum 
        diam, et pulvinar tortor. Proin ultricies volutpat urna. Cras ac mollis enim, viverra hendrerit 
        tellus.
    </div>
</div>

<!-- DIVIDER -->
<div class="row my-3">
    <hr class="w-100" />
</div>

<!-- video: testimonials -->
<div class="row mb-2">
    <h3 class="revature-orange">Testimonials</h3>
    <hr class="w-100 revature" />
</div>

<div class="row">
    <div class="col-md-8 text-justify">
        Nam urna est, tincidunt a condimentum eu, commodo in libero. Donec et odio ac nulla mattis consectetur vitae a nisi. Mauris eu mollis leo, a lobortis velit. Donec tempus tempus nisi in convallis. Etiam magna velit, tristique eget sem eget, sollicitudin iaculis mauris. Morbi felis nisi, dictum a sapien eget, vulputate euismod orci. Suspendisse nec quam laoreet, tincidunt eros ut, fermentum tellus. Etiam suscipit turpis massa, sit amet volutpat dui egestas sit amet. Etiam vel accumsan libero. Aliquam lorem ante, malesuada sed tellus nec, vestibulum rhoncus quam. Donec gravida purus sit amet posuere imperdiet. Praesent ac nunc pharetra, maximus enim sed, tempus eros. Sed mattis lorem at tincidunt lacinia. Mauris condimentum leo ante. 
    </div>

    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9 ml-2">
            <iframe class="embed-responsive-item" width="560" height="315" 
                src="https://www.youtube.com/embed/M8wT36t3gkE?rel=0&amp;showinfo=0" 
                frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>

<!-- divider -->
<div class="row my-3">
    <hr class="w-100" />
</div>

<!-- filler content -->
<div class="row mb-2">
    <h3 class="revature-orange">News</h3>
    <hr class="w-100 revature" />
</div>

<div class="row">
    <p>
      Phasellus convallis vel arcu vitae consectetur. Vivamus tincidunt ex sem, sed tempor lacus hendrerit ac. Donec tristique urna quis imperdiet efficitur. Curabitur vitae purus posuere, malesuada metus sed, accumsan orci. Maecenas aliquam, sapien a porta eleifend, orci est porttitor tortor, ut eleifend urna nunc in lacus. Proin euismod mi nec ligula finibus, at ornare sapien porttitor. Maecenas ultricies, urna non vulputate fermentum, mi risus sollicitudin nibh, sed imperdiet dui lectus quis massa. Nulla mollis vulputate felis faucibus luctus. Proin dictum, ligula ut imperdiet blandit, nisl velit rutrum quam, ac iaculis dui mi et neque. Nam feugiat mauris sit amet sem placerat semper. Nam ut elit mollis, commodo urna ac, finibus mi. Sed convallis justo id tellus fringilla, eget porttitor augue commodo. Proin semper velit non blandit placerat. 
    </p>
</div>

<div class="row">
    <p>
      Nam urna est, tincidunt a condimentum eu, commodo in libero. Donec et odio ac nulla mattis consectetur vitae a nisi. Mauris eu mollis leo, a lobortis velit. Donec tempus tempus nisi in convallis. Etiam magna velit, tristique eget sem eget, sollicitudin iaculis mauris. Morbi felis nisi, dictum a sapien eget, vulputate euismod orci. Suspendisse nec quam laoreet, tincidunt eros ut, fermentum tellus. Etiam suscipit turpis massa, sit amet volutpat dui egestas sit amet. Etiam vel accumsan libero. Aliquam lorem ante, malesuada sed tellus nec, vestibulum rhoncus quam. Donec gravida purus sit amet posuere imperdiet. Praesent ac nunc pharetra, maximus enim sed, tempus eros. Sed mattis lorem at tincidunt lacinia. Mauris condimentum leo ante. 
    </p>
</div>

<div class="row">
    <p>
      Phasellus convallis vel arcu vitae consectetur. Vivamus tincidunt ex sem, sed tempor lacus hendrerit ac. Donec tristique urna quis imperdiet efficitur. Curabitur vitae purus posuere, malesuada metus sed, accumsan orci. Maecenas aliquam, sapien a porta eleifend, orci est porttitor tortor, ut eleifend urna nunc in lacus. Proin euismod mi nec ligula finibus, at ornare sapien porttitor. Maecenas ultricies, urna non vulputate fermentum, mi risus sollicitudin nibh, sed imperdiet dui lectus quis massa. Nulla mollis vulputate felis faucibus luctus. Proin dictum, ligula ut imperdiet blandit, nisl velit rutrum quam, ac iaculis dui mi et neque. Nam feugiat mauris sit amet sem placerat semper. Nam ut elit mollis, commodo urna ac, finibus mi. Sed convallis justo id tellus fringilla, eget porttitor augue commodo. Proin semper velit non blandit placerat. 
    </p>
</div>